*{
    font-family: 'Noto Serif TC', serif;
    font-style: normal;
    font-weight: 400;
}
body{
    --main-color: #D08B66;
    --second-color: #D89B7B;
    --brown: rgba(132, 82, 55, 0.83);
    --title: rgba(82, 79, 79, 0.83);
    --text: rgba(100, 100, 100, 0.8);
    --rice: rgba(241, 229, 210, 0.95);
    --rice-n-grey: rgba(226, 216, 201, 0.95);
    --grey: #968C83;
}
a{
    text-decoration: none;
    color: var(--text);
    font-family: 'Noto Serif TC', serif;
    font-style: normal;
    font-weight: 400;
}
/* --------------------------------------NAV start----------- */

nav.main-nav-bar{
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    /* min-height: 60px; */
    /* margin: auto; */
    padding: 0px 10px;
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 0.9);
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.main-nav-container{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
}
#menu-switch{
    display: none;
}
img.logo {
    max-width: 200px;
    max-height: 50px;
    vertical-align: top;
    margin: 5px;
}
a.logo-link:active{
    transform: scale(0.9,0.9);
}
/* ---主選單main menu---------- */

li.main-menu-list-item a{
    display: block;
    padding: 20px 10px 16px 10px;
    /* margin: 4px 0px 0px 0px; */
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}
li.main-menu-list-item a:hover{
    color: var(--second-color);
    border-bottom: 4px solid var(--second-color);
}
li.main-menu-list-item a:active{
    transform: scale(0.9, 0.9);
    border-bottom: none;
}
/* ------hover下拉選單--------- */
li.main-menu-list-item.dropdown{
    position: relative;
}
li.main-menu-list-item.dropdown ul{
    display: none;
    position: absolute;
    top: 100%;
    width: 116px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.85);
}
li.dropdown_nav_item a{
    display: block;
    text-align: center;
    margin: 0px;
    padding: 18px 10px 14px 10px;
    border-bottom: 4px solid rgba(245, 245, 245, 0.9);
}
li.main-menu-list-item.dropdown:hover > ul {
    display: block;
}
/* ---次選單action menu---------- */
a.action-menu{
    padding: 0 4px;
    width: 20px;
}
a.action-menu:active{
    transform: scale(0.9,0.9);
}
img.icon{
    vertical-align: top;
    width: 100%;
}
/* --------------------------------------NAV end---------------- */

/* --------------------------------------FOOTER start----------- */
footer{
    width: 100%;
    background: rgba(241, 237, 230, 0.76);
    margin: 0 auto;
    font-family: 'Noto Serif TC', serif;
    font-style: normal;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.main-footer{
    padding: 60px 40px 40px 80px;
}
/* ---logo&icon------------------- */
.link{
    width: 30%;
}
.link a.logo-link{
    display: block;
    text-align: center;
}
.icon-list ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    margin: auto;
}
.icon-list li{
    padding: 20px 10px;
}
.icon-list a{
    display: block;
    width: 24px;
    height: 24px;
}
.icon-list img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}
/* ---contact-info------------------- */
.contact-info{
    margin-top: 25px;
}
.contact-info-pic{
    margin-top: 25px;
}
.contact-info-txt{
    margin-right: 44px;
    line-height: 180%;
    color: var(--title);
}
.contact-info-txt h3{
    font-weight: 600;
    padding: 10px 0;
}
/* ---nav---------------------------- */
nav.footer{
    border-top: 1px solid rgba(221, 227, 233, 1);
    border-bottom: 1px solid rgba(221, 227, 233, 1);
    padding-left: 80px;
}
/* nav.footer  */
nav.footer li{ 
    padding: 16px 10px;
}
/* ---copyright----------------------- */
.copyright{
    color: rgba(82, 79, 79, 0.8);;
    text-align: center;
    padding: 20px 0 40px 0;
}
/* --------------------------------------FOOTER end----------- */
/* ---RWD----------- */

@media screen and (max-width:767px){

    .HB{
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: relative;
    }
    .HB span{
        width: 24px;
        height: 2px;
        background-color: rgba(208, 139, 102, 0.6);
    }
    #menu-switch:checked ~ .main-nav-container .HB span:nth-child(2){
        opacity: 0;
    }
    #menu-switch:checked ~ .main-nav-container .HB span:nth-child(1),
    #menu-switch:checked ~ .main-nav-container .HB span:nth-child(3){
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    #menu-switch:checked ~ .main-nav-container .HB span:nth-child(1){
        transform: rotate(45deg);
    }
    #menu-switch:checked ~ .main-nav-container .HB span:nth-child(3){
        transform: rotate(-45deg);
    }
    .main-menu-container{
        display: none;
        position: absolute;
        background-color: rgb(232, 230, 227);
        /* background-color: #f00; */
        width: 100%;
        /* height: 100%; */
        top: 100%;
        left: 0;
    }
    .main-menu-container a{
        display: block;
    }
    .main-menu-container a + a{
        border-top: 1px solid #000;
    }
    #menu-switch:checked ~ .main-nav-container .main-menu-container{
        display: block;
    }
    /* ---次選單action menu---------- */
    .action-menu{
        display: flex;
        margin-left: auto;
        margin-right: 5px;
    }
}

@media screen and (min-width:768px){
    .HB{
        display: none;
    }
    /* .main-menu-container{
        display: flex;
    } */
    .main-menu-list{
    display: flex;
    }
    /* ---次選單action menu---------- */
    .action-menu{
        display: flex;
    }    
    /* ---footer---------------------- */
    .main-footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
        padding: 60px 0 40px 0px;
    }
    .link{
        text-align: center;
        /* width: 30%; */
    }
    .contact-info{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .contact-info-pic{
        margin-top: 0;
    }
    nav.footer li{ 
        display: inline-block;
    }
}
 /* index.html 首頁>瞭解更多 超連結 a.more, a.customization-link */
 /* weekly-bouquet.html 按鈕 button.submit */
 a.more, a.customization-link, button.submit{
    font-size: 18px;
    line-height: 180%;
    color: #FFFFFF;
    background-color: var(--main-color);
    border-radius: 4px;
    border: 1px solid var(--main-color);
    padding: 5px 15px;
}
a.more:hover, a.customization-link:hover, button.submit:hover{
    color: var(--main-color);
    background-color: #FFFFFF;
}
a.more:active, a.customization-link:active,button.submit:active{
    transform: scale(0.9,0.9);
}
@keyframes hover-vibrate{
    0%{transform: scale(1,1);}
    25%{transform: scale(.9,.9);}
    50%{transform: scale(1,1);}
    75%{transform: scale(.9,.9);}
    100%{transform: scale(1,1);}
}
button.submit:hover{
    animation: hover-vibrate 0.3s;
}
 /* 超連結另種顏色參考 */
/* button.customization{
    margin: 0 10px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #D08B66;
}
button.customization:hover > a{
    color: #FFFFFF;
    background-color: #D08B66;
}
button.customization:hover{
    color: #FFFFFF;
    background-color: #D08B66;
}
button.customization:active{
    transform: scale(0.9,0.9);
}
a.customization-link{
    color: #D08B66;
    display: block;    
    padding: 5px 10px;
    font-size: 18px;
    line-height: 180%;
} */

/* fb01.html, weekly-bouquet.html +號-號 */
button.number:hover{
    cursor: pointer;
}



