section{
    width: 100%;
}
section.top{
    margin-top: 60px;
}
.wrap-main{
    max-width: 1200px;
    margin: auto;
}

.content-txt{
    margin-top: 1.25rem;
}

/* -----picture---------------------- */
.pic-area{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.picContainer{
    overflow: hidden;
}
.picContainer.large{
    /* width: 400px; */
    width: 100%;
    /* height: 30%; */
    /* height: 500px;s */
    /* border-radius: 0 150px 0 0; */
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.37);
}
.group-small{
    width: 33.333333%;
    margin-left: 5px;
    margin-right: 5px;
}
.picContainer.small{
    max-width: 100%;
    height: auto;
    opacity: 0.7;
}
.picContainer.small:hover{
    opacity: 1;
}
.product-content{
    padding-top: 60px;
}
/* -----content---------------------- */
.content-txt{
    padding: 0 50px;
    margin-bottom: auto;
}
/* -----breadcrumb--------------------- */

.block-inner{
    display: inline-block;
    margin-top: 0;
    color: #999999;
    font-size: 12px;
}
.description h2{
    font-size: 1.875rem;
    padding-top: 1.875rem;
    padding-bottom: 1.563rem;
    letter-spacing: 0.5px;
    color:  #666666;
}
.description p{
    padding: 0.625rem 0 1.25rem 6px;
    line-height: 150%; 
}
.price-n-amount{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.price{
   padding: 1.25rem 0;
}
.amount .fill-amount{
    padding: 0.375rem 0px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #D08B66;
    font-size: 1.125rem;
    color: #D08B66;
    width: 50px;
}
button.number{
    border: none;
    background-color: transparent;
    color: #D08B66;
}
button.number:active{
    transform: scale(0.9,0.9);
}

.content-txt .btn{
    padding: 0.625rem 0;
    margin-bottom: 0;
}
.content-txt .btn button{
    padding: 0.625rem 0;
}
/* ------------------商品描述---------- */
.wrap-product-details{
    font-size: 1.125rem;    
    padding: 4rem 2rem 2rem 2rem;
    box-sizing: border-box;
}

.tab-list{
    display: flex;
    color: rgba(82, 79, 79, 0.83);
}
.tab-list .item a{
    display: block;
    padding: 1.25rem 1.563rem;
}

.details-description a{
    color: rgba(208, 139, 102, 1); 
    border-bottom: 4px solid rgba(208, 139, 102, 1);
}
.details-txt{
    padding: 2.8rem 1.375rem 3.125rem 1.375rem;
    border-top: 1px solid rgba(82, 79, 79, 0.83);
    border-bottom: 1px solid rgba(82, 79, 79, 0.83);
}

.details-txt p{
    font-size: 1rem;
    line-height: 1.563rem;
    color: rgba(100, 100, 100, 0.8);
}

/* ---related-products-------------- */
.title{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 60px;
}
h3.related-products{
    font-size: 32px;
    text-align: center;
}

section:last-child{
    margin-bottom: 60px;
}
/* ------------RWD of weekly-bouquet.css------------------------------- */
@media screen and (max-width:389px) {
    :root{
        font-size: 12px;
    }
}
@media screen and (min-width:390px) {
    :root{
        font-size: 14px;
    }
    .option-list-item p{
        font-size: 1.125rem;
    }
    .option-list-item button, .option-list-item input{
        margin-left: 0.2rem;
        margin-right:  0.2rem;
        padding: 0.375rem 0.75rem;
        font-size: 1.125rem;
    }
    .option-list-item button:hover{
        background-color: #FFFFFF;
        color: rgba(193, 136, 105, 1);
    }
}
@media screen and (min-width: 768px){
    :root{
        font-size: 16px;
    }
    .windows-n-form, .form-foot{
        width: 80%;
        padding: 0 10%;
    }
    .option-list{
        padding: 0px 10% 40px 10%;
        box-sizing: border-box;
        margin: auto;
        width: 100%;
    }
    .pic-area{
        display: flex;
        justify-content: space-evenly;
        justify-content: center;
        align-items: flex-end;
        width: 80%;
        margin: auto;
    }
    .picContainer.large {
        width: 60%;
        margin: 0;
    }
    .group-small{
        display: block;
        /* width: 30%; */
        margin: 0;
        width: 20%;
    }
    .picContainer.small {
        width: 100px;
        height: 127px;
        margin: 10px;
        opacity: 0.7;
        border: 2px solid #fff;
        box-sizing: border-box;
    }
    .picContainer.small:last-child{
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1024px){
    .content{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0 100px 0;
    }
    .title-n-pic{
        width: calc((100%-40px)/2);
        margin-top: 0;
    }
    .picContainer.large{
        width: 80%;
        max-width: 400px;
    }
    .view{
        width: 20%;
        box-sizing: border-box;
    }
    .picContainer.small {
        margin: 0.625rem auto;
    }
    h2.title-CH{
        text-align: right;
        padding-right: 3.75rem;
        margin-bottom: -5rem;
        float: inline-end;
        position: sticky;
        z-index: 1;
    }
    h2.title-CH span{
        font-size: 2rem;
    }
    .windows-n-form{
        width: calc((100%-40px)/2);
        padding: 60px 0px 0 0px;
        box-sizing: border-box;
        margin: auto;
    }
    .form {
        padding: 0;
    }
    .option-list{
        padding: 0.625rem 10% 40px 10%;
    }
    section.txt .wrap{   
        padding: 10rem 5rem 5rem 5rem;
    }
    .picContainer.small{
        max-width: 100%;
        height: auto;
        opacity: 0.7;
        width: 100px;
        height: 127px;
        margin: 10px;
        opacity: 0.7;
        border: 2px solid #fff;
        box-sizing: border-box;
    }  

    .product-content{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .pic-area{
        width: 50%;
    }
    .content-txt{
        width: 50%;
    }
}
