section{
    width: 100%;
}
body{
    color: var(--text);
}
/* ---主選單 分頁主題---------- */
li.main-menu-list-item:nth-child(1) a{
    color: rgba(178, 130, 104, 1);
    font-weight: 700;    
    border-bottom: 4px solid rgba(178, 130, 104, 1);
}
section.title{
    margin-top: 60px;
    margin-bottom: 80px;

}
.title-txt{
    display: flex;
    align-items: center;
    height: 500px;
    justify-content: center;
    background-image: url(../image/pic/products/fresh-bouquet/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 55%;
    width: 100%;
}
.title-txt h2{
    font-size: 2rem;
    line-height: 150%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.36);
}
/* .item{
    margin-bottom: 20px;
} */
/* ------card------------------------ */
.card{
    position: relative;
    margin-bottom: 20px;

}
.picContainer{
    width: 100%;
    overflow: hidden;
}
.picContainer img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
    vertical-align: top;
}
/* ------tag------------------ */
.tag{
    position: absolute;
    top: 0.75rem;
    left: 0.375rem;
    padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
    background-color: rgba(255, 124, 124, 0.8);
    color: #FFFFFF;
    font-size: 0.875rem;
    box-sizing: border-box;
    text-align: center;
}
.tag::before{
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-right: 0.75rem solid rgba(255, 124, 124, 0.8);
    border-bottom: 0.75rem solid transparent;
    border-top: 0.75rem solid transparent;
    position: absolute;
    top: 0;
    right: 100%;
}
/* ------hover 換圖----------------------- */
.overlap-top{
    position: absolute;
    top: 0;
    transition: opacity 1s ease-in-out;
}
.overlap-top:hover{
    opacity: 0;
}
/* ----card-txt-----------------------
*/
.card-txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn button{
    font-size: 0.875rem;
    color: #D08B66;
    background-color: #FFFFFF;
    border: 1px solid #D08B66;
    width: 50%;
    margin: 1px;
    padding: 3px 0;
}
.btn button:hover{
    color: #FFFFFF;
    background-color: var(--main-color);
}
.btn button:active{
    transform: scale(0.9,0.9);
}
.btn-2 button{
    display: block;
    width: 100%;
}
/* ------RWD----------------------- */
@media screen and (max-width: 767px) {
    :root{
        font-size: 14px;
    }
}
@media screen and (max-width: 389px) {
    :root{
        font-size: 12px;
    }
        .tag::before{
        border-right: 9.75px solid rgba(255, 124, 124, 0.8);
        border-bottom: 9.75px solid transparent;
        border-top: 9.75px solid transparent;
    }
}