/* --------------------------background-image--- */
body{
    background-image: url(../image/pic/weekly-bgflower-ps2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* ------------------Section----- */
section{
    width: 100%;
}
/* ------------------go-to-top----- */
button.go-to-top{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    position: fixed;
    right: 5%;
    bottom: 5%;
    padding: 10px;
    z-index: 2;
    display: none;
}
button.go-to-top:hover{
    cursor: pointer;
    border: 1px solid #d08b66b8;
    background-color: #d08b66b8;
}
/* ------------------Banner----- */
section.full.banner{
    margin-top: 60px;
}
.banner-container{
    margin: 0 auto;
    width: 100%;
    max-height: 580px;
    aspect-ratio: 2732/1440;
    overflow: hidden;
    position: relative;
}
.banner-video{
    width: 100%;
    height: 100%;
    vertical-align: top;
    object-fit: cover;
    object-position: center top;
}
.banner-txt{
    position: absolute;
    bottom: 4%;
    right: 4%;
    color: rgba(255, 255, 255, 1);
    font-size: 1.2rem;
    line-height: 150%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); 
    letter-spacing: 0.015em;
    text-align: right;
}
/* ------------------Weekly 週花----- */
section.weekly{  
    /* max-width: 1200px;   */
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
    /* background-color: #ff0; */
}
section.weekly .wrap{
    max-width: 1200px;
    width: 100%;
    position: relative; 
    margin: auto;
    /* background-color: red; */
}
.weekly-bgcanvas{
    width: 100%;
    margin: auto;
    max-width: 1030px;
    max-width: 1200px;
    background-color: rgba(226, 216, 201, 0.95);
    /* border: 6px solid rgba(255, 255, 255, 0.53); */
    /* border-radius: 87px 0px 0px 0px; */
    box-sizing: border-box;
}
/* -----週花區---------------------- */
.weekly-bouquet{
    width: 100%;
    margin: auto;
}
/* -----週花照片---------------------- */
.weekly-pic{
    margin: auto;
    padding: 40px 0 20px 0;
    width: 75%;
    position: relative;
}
.picContainer-weekly-pic img{
    width: 100%;
    vertical-align: bottom;
}
.nametag{
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 10px 14px;
    background-color: #F5F5F5;
    border-radius: 0 2px 0 0;
    font-size: 1.5rem;
    color: #C5977E;
}
/* -----週花描述---------------------- */
.weekly-txt{
    max-width: 390px;
    margin: auto;
    padding: 50px 20px 80px 20px;
}
h2.title-weekly-txt{
    text-align: center;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/* -----共用title---------------------- */
span.title-CH{
    font-size: 1.75rem;
}
small.title-EN{
    font-size: 1.25rem;
}
/* -----週花title---------------------- */
.weekly-txt span.title-CH{
    display: block;
    color: var(--brown);
    /* padding-right: 15px;
    padding-bottom: 15px; */
    padding-right: 4%;
    padding-bottom: 4%;
}
.weekly-txt small.title-EN{
    color: var(--brown);
    position: relative;
    /* padding-top:  30px; */
    padding-left: 4%;
}
/* -----週花title slash---------------------- */
h2.title-weekly-txt small.title-EN::before{
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background-color: var(--brown);
    transform: rotate(135deg);
    position: absolute;
    right: 70%;
    top: 0;
}
h3.subtitle{
    font-size: 1.25rem;
    color: var(--second-color);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
    padding: 25px 22px;
}
p.description{
    font-size: 1rem;
    line-height: 200%;
    color: rgba(120, 120, 120, 0.8); 
    padding: 40px 40px 100px 40px;
    display: block;
    margin: auto;
}
.weekly-price-foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p.weekly-price{
    font-size: 1.375rem;
    color: #D89B7B;
    text-shadow: 1px 1px 1px #ffffff;
}
/* ----------------------產品總覽---------- */
section.products, section.courses, section.products-Swiper, section.courses-Swiper{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    margin-bottom: 60px;
}
/* -----產品&課程 共用title--------------------- */
.title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 40px;  
    color: rgba(82, 79, 79, 0.83);
}
.title small.title-EN{
    margin-left: 6px;
}
/* ----花藝課程title------------------- */
.title-courses{
    justify-content: flex-start;
    margin: 25px 20px 50px 20px;
    max-width: 430px;
    height: 58px;
    padding: 15px;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgba(227, 189, 189, 0.45) 59.72%, rgba(227, 189, 189, 0) 101.51%);
}
.title-courses h2.title-CH{
    margin-left: 32px;
}
/* -------產品卡片------------------ */
a.products-card-link{
    display: block;
    margin: 25px auto;
    max-width: 320px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .2);
}
.products-list{
    margin: auto;
    margin-bottom: 20px;
}
.products-card-pic{
    overflow: hidden;
}
.products-card-pic img{
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.products-card-pic img:hover{
    transform: scale(1.1,1.1);
    transition: 1s;
}
.products-card-txt{
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
}
.products-card-txt h3{
    text-align: center;
    font-size: 1.25rem;
    color: rgba(82, 79, 79, 0.83);
}
.products-card-txt h3.products-item-EN{
    color: rgba(82, 79, 79, 0.59);
    margin-top: 10px;
}
/* ----客製商品--------------------------- */
.products-customize{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products-customize p{
    font-size: 1.25rem;
    color: rgba(100, 100, 100, 0.8);
    padding-right: 10px;
}
/* ----花藝課程卡片start------------------- */
.products-list.course{
    justify-content: center;
    align-items: center;
}
.products-list.course .products-card{
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.23));
    position: relative;
}
.products-list.course .products-card-pic{
    width: 100%;
}
/* ----花藝課程中間卡片------------------- */
.products-list.course .main{
    position: relative;
    z-index: 1;
}
/* ----花藝課程字卡------------------- */
.products-list.course .products-card-txt{
    background-color: rgba(210, 191, 166, 0.82);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px;
    width: 100%;
}
.products-list.course .products-card-txt h3{
    color: #fff;
}
/* --------------------------RWD手機--- */

@media screen and (max-width:767px) {
    :root{
        font-size: 14px;
    }
    section.products-tab, section.courses-tab{
        display: none;
    }
}
/* --------------------------RWD平板直向--- */

@media screen and (min-width: 768px) {
    section.products-mb, section.courses-mb{
        display: none;
    }
    section.products-tab, section.courses-tab{
        display: block;
    }
    .banner-txt{
        font-size: 1.625rem;
    }
/* -----週花區---------------------- */
    .weekly-bouquet{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .picContainer-weekly-pic{
        width: 100%;
        background-color: #fff;
    }
/* -----週花照片---------------------- */
    .weekly-pic{
        padding: 0;
        width: 33.333333%;
    }
    .nametag{
        bottom: 0;
    }
/* -----週花描述---------------------- */
    .weekly-txt{
        width: 66.666666%;
        padding: 80px 0;
    }
/* -----週花title---------------------- */
    .weekly-txt span.title-CH{
        padding-right: 8%;
        padding-bottom: 6%;
    }
    .weekly-txt small.title-EN{
        padding-left: 8%;
    }
    h3.subtitle{
        padding: 15px 22px;
    }
    p.description{
        padding: 20px 10px 40px 38px;
    }
    a.products-card-link{
        margin: 0 20px;
    }
    .products-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1200px;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }
    .products .products-customize{
        justify-content: flex-end;
    }
/* --------------------------RWD平板橫向--- */
@media screen and (min-width: 1024px){
    /* -----週花區---------------------- */
    section.weekly{  
        /* height: 750px; */
    }
    .weekly-bouquet{    
        max-width: 850px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        /* background-color: #f00; */
    } 
    .weekly-bgcanvas{
        max-width: 1030px;
        background-color: rgba(226, 216, 201, 0.95);
        border: 6px solid rgba(255, 255, 255, 0.53);
    }
    .weekly-bouquet .weekly-pic{
        border-radius: 200px 200px 0 0;
        max-width: 400px;
        padding-top: 0px;
        width: 100%;
    }
    span.title-CH{
        font-size: 2rem;
    }
    small.title-EN{
        font-size: 1.5rem;
    }
    h3.subtitle{
        font-size: 1.375rem;
    }

    p.description{
        padding: 50px 10px 100px 38px;
        letter-spacing: 0.04rem;
    }
    .weekly-price-foot{
        padding-bottom: 40px;
    }
}
/* --------------------------RWD桌機--- */
@media screen and (min-width: 1200px){
    .banner-txt{
        font-size: 2rem;
    }
}
/* ====SWIPER==== */
.products-list .swiper {
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    padding-bottom: 30px;
}
.products-list .swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    transform: scale(0.8);
    opacity: 0.5;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.products-list .swiper-slide-active,
.products-list .swiper-slide-duplicate-active{
    transform: scale(1);
    z-index: 1;
    opacity: 1;
}
.products-list .swiper-pagination{
    z-index: 4;
    bottom: 0;
}
.swiper-pagination-bullet {
    opacity: 1;
    background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
background: linear-gradient(45deg, rgb(246, 146, 89), rgb(241, 105, 117));
}

.mySwiper .swiper-button-prev, .swiper-button-next{
   color:rgba(208, 139, 102, 0.6);
}