/* --------------------------------------NAV start----------- */

/* ---主選單 分頁主題---------- */

li.main-menu-list-item:nth-child(4) a{
    color: rgba(178, 130, 104, 1);
    font-weight: 600;    
    border-bottom: 4px solid rgba(178, 130, 104, 1);
}
li.main-menu-list-item:nth-child(4) a:active{
    border-bottom: none;
}
/* --------------------------------------NAV end----------- */

/* ----------------------------section, wrap */
section{
    width: 100%;
}
.wrap{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
/* ----main------------------------------------- */
.wrap.main{
    margin-top: 60px;
}
/* canvas-area定位用 */
.canvas-area{
    width: 1200px;
    position: relative;
    display: flex;
}
.canvas-bg{
    margin: auto;
    max-width: 1200px;
    width: 100%;
}
.bg{
    box-sizing: border-box;
    max-width: 1200px;
    width: 100%;
    height: 758px;
    margin: auto;
    background: rgba(241, 229, 210, 0.95);
    border: 6px solid rgba(255, 255, 255, 0.53);
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 87px 0px;
}

.content{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 23px;
    left: 70px;
    margin: auto;
}

.title-n-pic{
    margin-top: 60px;
}
h2.title-EN{
    font-size: 48px;
    line-height: 60px;
    color: rgba(255, 255, 255, 0.83);  
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); 
    padding-bottom: 40px;
    padding-left: 60px;
}
h2.title-CH{
    font-size: 64px;
    color: #D08B66;
    text-shadow: 2px 2px 2px #FFFFFF;
    text-align: right;
    padding-right: 60px;
    margin-bottom: -50px;
    float: inline-end;
    position: sticky;
    z-index: 1;
}
span{
    font-size: 32px;
}
/* ----圖片------------------------------------- */
.pic-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.picContainer{
    overflow: hidden;
}
.picContainer.large{
    box-sizing: border-box;
    width: 400px;
    height: 560px;
    border: 3px solid #FFFFFF;
    border-radius: 200px 200px 0 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.37);
    position: relative;
}
.picContainer img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center center;
    vertical-align: top;
}
p.nametag{
    position: absolute;
    left: 0;
    bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 46px;
    background-color: #F5F5F5;
    border-radius: 0px 4px 4px 0px;
    font-size: 28px;
    line-height: 35px;
    color: #C5977E;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.group-small{
    margin-bottom: 20px;
}
.picContainer.small{
    width: 100px;
    height: 127px;
    margin: 10px;
    opacity: 0.7;
}
.picContainer.small:hover{
    opacity: 1;
}
/* ----圖片windows------------------------------------- */
.windows-n-form{
    width: 100%;
    margin-left: 80px;
}
.windows{
    display: flex;
    justify-content: center;
    position: relative;
}

.picContainer.windows{
    width: 174px;
    height: 240px;
    margin: 20px;
    box-sizing: border-box;
    border: 3px solid #FFFFFF;
    border-radius: 87px 87px 0 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 2px 2px 4px rgba(0, 0, 0, 0.37);
}
.picContainer.windows img{
    opacity: 0.5;
    transform: scale(1,1);
    transition: 1s;

}
.picContainer.windows img:hover{
    opacity: 1;
    transform: scale(1.2,1.2);
    transition: opacity 0.6s transform 1s;

}
.windowFrame{
    position: absolute;
    background-color: rgba(241, 229, 210, 0.95);
}
.windowFrame.row{
    width: 426px;
    height: 13px;
    bottom: 40px;
}
.windowFrame.col{
    width: 13px;
    height: 249px;
    left: 60px;
    top: 20px;
}
.windowFrame.col.right{
    left: auto;
    right: 60px;
}
/* ----表單區---------------------- */
.form{
    margin: auto;
    padding: 40px 20px;
}
h3.subtitle{
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.015em;
    color: rgba(100, 100, 100, 0.8);
    text-shadow: 2px 2px 2px #E6E6E6;
    margin-bottom: 40px;
}
.option-list{
    margin-bottom: 45px;
}
.option-list-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 9px;
}
.option-list-item p{
    font-size: 18px;
    color: rgba(100, 100, 100, 0.8);
    width: 80px;
}
.option-list-item button{
    margin-left: 3px;
    margin-right: 3px;
    padding: 6px 16px;
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 7px;
    border: none;
    font-size: 18px;
    color: rgba(193, 136, 105, 0.56);
}
.option-list-item button:hover{
    background-color: #FFFFFF;
    color: rgba(193, 136, 105, 1);
}
.option-list-item input{
    margin-left: 2px;
    padding: 6px 18px;
    background-color: rgba(255, 255, 255, 0.62);
    border-radius: 7px;
    border: none;
    font-size: 18px;
    color: rgba(193, 136, 105, 0.56);
}
.form-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-foot p{
    font-size: 22px;
    line-height: 200%;
    letter-spacing: 0.015em;
    color: #D89B7B;
}
.amount{
    font-size: 24px;
    color: #D89B7B;
    display: flex;
    align-items: center;
}
.form-foot input{
    padding: 10px 0px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #D08B66;
    font-size: 18px;
    color: #D08B66;
    width: 70px;
    border-radius: 4px;
}
@keyframes hover-vibrate{
    0%{transform: scale(1,1);}
    25%{transform: scale(.9,.9);}
    50%{transform: scale(1,1);}
    75%{transform: scale(.9,.9);}
    100%{transform: scale(1,1);}
}
button.submit{
    width: 130px;
    padding: 10px 16px;
    box-sizing: border-box;
    background-color: #D08B66;
    border-radius: 4px;
    border: 1px solid #D08B66;
    font-size: 18px;
    color: #FFFFFF;
    transform: scale(1,1);
}
button.submit:hover{
    animation: hover-vibrate 0.3s;
    color: #D08B66;
    background-color: #FFFFFF;
}
button.submit:active{
    transform: scale(0.9,0.9);
}
/* ------------------商品描述---------- */
section.txt{
    background-image: url(../pic/weekly-bouquet/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -80px;
}
section.txt .wrap{
    font-size: 20px;    
    padding: 220px 80px 200px 80px;
    box-sizing: border-box;
}
.tab-list{
    display: flex;
    color: rgba(82, 79, 79, 0.83);
}
.tab-list .item{
    padding: 20px 25px;
}
.description{
    color: rgba(208, 139, 102, 1);
    border-bottom: 4px solid rgba(208, 139, 102, 1);
}
.details-txt{
    padding: 50px 22px 50px 25px;
    border-top: 1px solid rgba(82, 79, 79, 0.83);
    border-bottom: 1px solid rgba(82, 79, 79, 0.83);
}

.details-txt p{
    font-size: 20px;
    line-height: 25px;
    color: rgba(100, 100, 100, 0.8);
}


/* ------------------banner---------- */
/* section.banner{
    background-image: url(../pic/weekly-bouquet/banner-bg.jpg);
    width: 100%;
} */
.picContainer.banner{
    height: 300px;
    width: 100%;
    overflow: hidden;
}
.picContainer.banner img{
    width: 100%;
}


