/* --------------------------HEADER--- */
nav.main-nav-bar{

}

.main-nav{
    /* background-color: #fa0; */
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}      

a.main-logo{
    /* margin-right: 50px; */
    /* border: 1px solid red; */
    /* position: absolute;
    left: 7%;
    right: 79.92%;
    top: 11.65%;
    bottom: 7.87%; */
}
img.main-menu-logo {

}
/* ---主選單main menu---------- */
/* .main-menu-container{
    position: absolute;
    left: 33.5%;
    right: 17.67%;
    top: 53.4%;
    bottom: 20.39%;
} */

.main-menu-list{

}
.main-menu-list-productgroup{

}

.main-menu-list-item{
    /* border: 1px solid #ccc; */
 
}
.main-menu-list-item-label{

}
/* ---次選單action menu---------- */
.action-menu{

    /* position: absolute;
    left: 86.42%;
    right: 8.75%;
    top: 53.4%;
    bottom: 22.33%; */
}

a.action-menu{

    /* margin-right: 8px; */

    /* padding-right: 4px; */
    /* background-color: red;
    border: 1px solid #000; */
}

/* ------------- */
